<div class="container text-center">
    <h1 class="text-secondary">Valentin MARCO</h1>
    <h2 class="pb-5 text-danger">Développeur Angular/Ionic Freelance</h2>
    <div class="pb-5">
      <span class="text-info text-justify">
        Bonjour je suis Valentin MARCO, développeur web souriant et rigoureux dans mon travail. <br />
    
        Je vous propose de découvrir mon cursus et mes compétences en détail en cliquant sur les onglets ci-dessus.
        N’hésitez pas également à consulter mes différentes réalisations dans la rubrique mes projets.
    
        Bonne visite !
      </span>
    </div>
    <div class="row pb-5">
      <a class="col text-secondary" href="https://www.linkedin.com/in/valentin-marco-3a2871119/" target="blank">
        <fa name="linkedin" size="3x"></fa>
      </a>
      <a class="col text-danger" href="https://github.com/marcovalentin" target="blank">
        <fa name="github" size="3x"></fa>
      </a>
      <a class="col text-info" href="https://www.facebook.com/valyon43" target="blank">
        <fa name="facebook" size="3x"></fa>
      </a>
    </div>
    <h3 class="text-secondary">Contactez-moi</h3>
    <div class="row text-left">
      <div class="col-10 text-danger mx-auto">
        <h5>
            <fa class="pr-3" name="phone" size="2x"></fa> Par téléphone : +33675473030 
        </h5>
      </div>
    </div>
    <div class="row text-left">
      <div class="col-10 text-info mx-auto">
          <h5>
              <fa class="pr-3" name="envelope" size="2x"></fa> 
              Par email : <a class="text-info" href="mailto:valentinmarcodev@gmail.com">valentinmarcodev@gmail.com</a>
          </h5>
      </div>
    </div>
</div>