<div class="row pt-3">
  <div class="col-10 mx-auto text-left">
      <h3 class="progress-title">Angular - 70%</h3>
      <div class="progress">
          <div class="progress-bar bg-danger active" style="width:70%;"></div>
      </div>
      <h3 class="progress-title">Ionic - 60%</h3>
      <div class="progress">
          <div class="progress-bar bg-danger active" style="width:60%;"></div>
      </div>
      <h3 class="progress-title">HTML5 - 80%</h3>
      <div class="progress">
          <div class="progress-bar bg-secondary active" style="width:80%;"></div>
      </div>
      <h3 class="progress-title">CSS3 - 80%</h3>
      <div class="progress">
          <div class="progress-bar bg-secondary active" style="width:80%;"></div>
      </div>
      <h3 class="progress-title">Typescript - 70%</h3>
      <div class="progress">
          <div class="progress-bar bg-secondary active" style="width:70%;"></div>
      </div>
      <h3 class="progress-title">Wordpress - 60%</h3>
      <div class="progress">
          <div class="progress-bar bg-info active" style="width:60%;"></div>
      </div>
  </div>
</div>

<div class="row text-left mx-auto pt-5">
    <div class="col-10 col-md-4 text-info pb-3">
        <h5><fa name="futbol" size="3x"></fa> Sport</h5>
    </div>
    <div class="col-10 col-md-4 text-secondary pb-3">
        <h5><fa name="plane" size="3x"></fa> Voyage</h5>
    </div>
    <div class="col-10 col-md-4 text-danger pb-3">
        <h5><fa name="building" size="3x"></fa> Entreprenariat</h5>
    </div>
</div>