.card-banner {
    display: flex;
    position: relative;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
}
.card-banner .card-body {
    background-size: cover;
    position: relative;
    z-index: 10;

    .card-title {
        color: $danger;
    }
    
    .card-text {
        color: $info;
    }

    .card-subtext {
        color: $secondary;
    }
}


/* overlay effects */
.overlay-cover {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
}
.overlay {
    background-color: rgba(0,0,0,0.65);
    z-index: 10;
    padding: 1.25rem;
    color: #fff;
}
.overlay-grad {
    position: relative;
}

.overlay-grad::before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $secondary;
    background: -webkit-gradient(linear, left top, right bottom, from($primary), to($secondary));
    background: linear-gradient(to bottom right, $primary, $secondary);
    opacity: .6;
    transition: .5s;
}
.overlay-grad:hover:before{
     opacity: .9;
}