<div class="row">
    <div class="col-lg-6 col-md-12 pr-0">
      <div class="home-left">
        <div class="row pt-3 d-md-block d-lg-none">
          <div class="col-3 col-md-4 mx-auto">
            <img class="img-fluid rounded-circle avatar" src="../assets/val.jpeg">
          </div>
        </div>
        <app-nav (changePage)="onChangePage($event)"></app-nav>
        <div [ngSwitch]="page" class="d-inline align-middle h-100">
          <app-about *ngSwitchDefault></app-about>
          <app-projects *ngSwitchCase="'projects'" (describeProject)="openProjectDescription($event)"></app-projects>
          <app-skills *ngSwitchCase="'skills'"></app-skills>
          <app-studies *ngSwitchCase="'studies'"></app-studies>
        </div>
      </div>
    </div>
    <div class="col d-md-none d-lg-block pr-0 img-principal">
    </div>
</div>
